a {
  color: $black;
  text-decoration: none;

  &:hover {
	text-decoration: underline;
  }
}

body {
  color: $black;
  cursor: default;
  font-family: $baseType;
  height: 100%;
}

div {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  color: $black;
  margin: -4px 0 3px 0;
}

h3 {
  font-family: $headlineType;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: normal;
}

header {
  padding: 15px 0;
}

html {
  height: 100%;
}

option {
  direction: ltr;
}

ul {
  padding: 0;
  margin: 0;
}


@keyframes pulse {
  from {
	opacity: 1;
  }

  to {
	opacity: .1;
  }
}

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}

#app {
  height: 80%;
}

#citation-needed {
  display: inline-block;
  font-family: $headlineType;
  font-size: 2em;
  font-weight: 400;

  .y {
	background: $hnOrange;
	border: solid 1px white;
	color: white;
	display: inline-block;
	font-size: 1.75rem;
	outline: solid 1px $hnOrange;
	padding: 0 10px;
  }

  .asterisk {
	font-size: 1rem;
	position: relative;
	top: 2px;
	vertical-align: super;
  }
}

#root {
  height: 100%;
  margin: 0 auto;
  padding-top: 15px;
  text-align: center;
  width: 80%;
}

