@media (max-width: 640px) {
  header {
	padding: 0 15px;
  }

  select {
	width: 100%;
  }

  .fa {
	position: absolute;
	right: 10px;
  }

  #root {
	width: 96%;
  }

  #interval-wrap {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 50%;
  }
}