@media (max-width: 768px) {
  g.highcharts-label.highcharts-data-label text{
	font-size: 1.75rem !important;
  }

  #count-container span {
	font-size: 1.35rem;
  }

  #deets > div {
	height: 100%;
  }

  #interval-container {
	position: relative;
  }

  #interval-instructions {
	width: 60%;

	&:before {
	  content: attr(data-verb-mobile);
	}
  }

  #interval-select-panel {
	left: 0;
	width: 100%;

	span, strong {
	  font-size: 1.25rem;
	  line-height: 1.4;
	}

	div:nth-child(3) {
	  align-self: center;
	}
  }

  #list-wrap {
	width: 100%;

	&.loading img {
	  top: 45%;
	}
  }

  #root {
	  width: 90%;
  }
}